.jumbotron {
    background-color: #4078c0;
    color: #fff;
    margin-top: -2rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

@media (min-width: 34em) {
.jumbotron {
    padding-top: 6rem;
    padding-bottom: 8rem;
    font-size: 1.5rem;
    text-align: left;
}}

@media (max-width: 34em) {
.jumbotron {
    text-align: center;
}}

.jumbotron h1 {
    font-size: 2.5em;
    font-weight: normal;
}

.jumbotron .btn {
    padding: .75em 1.15em;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
}

.btn-reverse {
    color: #fff;
    background: none;
    border: 1px solid #fff;
}